body {
    margin-top: 3%;
    margin-right: 3%;
    height: 100%;
    background-image: url(../img/background.jpg);
}
tr {
    border: 1px;
}
#grid {
    margin: 0 auto;
    margin-top: 100px;
    display: table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
.box {
    min-width: 26px;
    min-height: 26px;
    background: rgb(170, 170, 170);
    border: none;
    -moz-box-shadow: inset 0 0 2px #050505;
    -webkit-box-shadow: inset 0 0 2px #050505;
    box-shadow: inset 0 0 2px #050505;
    margin: 2px;
}
.pausedGame {
    background: rgb(170, 170, 170) !important;
    color: rgb(170, 170, 170) !important;
    text-shadow: none !important;
}
.box.val0 {
    background: rgb(240, 240, 240);
}
.box.val1 {
    color: rgb(133, 129, 51);
    background: rgba(224, 210, 210, 0.24);
}
.box.val2 {
    color: rgb(165, 137, 48);
    background: rgb(218, 190, 190);
    text-shadow: 0px 1px white;
}
.box.val3 {
    color: white;
    background: rgb(202, 85, 85);
}
.box.val4 {
    color: rgb(255, 255, 255);
    background: rgb(134, 0, 0);
    text-shadow: 0px 1px white;
}
.box.mined {
    background: url(../img/mine.jpeg);
    background-size: 100%;
}
.box.blast {
    background: url('../img/exposion.gif');
    background-size: 100%;
}
.shadow {
    background: rgb(235, 226, 226);
    display: inline-block;
    margin-left: 7%;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
}
.shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
.title {
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: #D1D1D1;
    text-shadow: 1px 1px 0 #333, 2px 2px 0 #333, 3px 3px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333, 6px 6px 0 #333, 7px 7px 0 #333, 8px 8px 0 #333, 9px 9px 0 #333, 10px 10px 0 #333, 11px 11px 0 #333;
}
#progress {
    margin: 0 auto;
    display: table;
    padding: 20px;
}
button:focus {
    outline: 0 !important;
}
#timer.is-countdown {
    border: black;
    font-size: 24px;
    font-family: fantasy;
    color: rgb(216, 186, 186);
    background: black;
    text-align: center;
}

.disabled {
    pointer-events: none;
}
.controlButton {
    opacity: 0.4;
}
.selectedControlButton,
.controlButton:hover {
    opacity: 1;
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
#popup {
    position: absolute;
    left: 10% !important;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    padding: 25px;
    color: #000000;
    font-size: 2rem;
    font-family: fantasy;
    width: 80%;
    text-align: center;
}
#popup li {
    text-align: left;
}
.b-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}
.popUpTitle {
    font-size: larger;
    font-family: cursive;
}
#progressBarDiv {
    padding-top: 20px;
    position: fixed;
    top: 1%;
    opacity: 0.8;
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.buttonGroup {
    background: black;
    border-radius: 10px 10px 0 0;
    padding: 2px;
}
#progressBar {
    font-size: 22px;
    font-family: Georgia, serif;
    text-align: center;
}
.progress {
    height: 30px;
    border: 1px solid #cacaca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E6E6E6, endColorstr=#CCCCCC);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 22px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
    text-shadow: 1px 2px black;
}

.row{
    padding-left: 0px;
    padding-right: 0px;
}

.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

@media only screen and (max-width: 767px) {
    .box {
        min-width: 35px;
        min-height: 35px;
    }  
}
@media only screen and (max-width: 510px) {
    #progressBarDiv{
        min-width: 360px;
    }
    .col-md-4{
        padding: 0px 0px;
    }
    .btn{
        padding: 6px 9px;
    }
}