body {
    background: black;
    margin-top: 3%;
    margin-right: 3%;
    background-size: 100%;
    height: 100%;
}
tr{
    border:1px ;
}

.container{
    display: table;
    margin: 0 auto;
}

#grid {
    min-width: 275px;
    display: table;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
.box {
    min-width: 30px;
    min-height: 30px;
    background: rgb(170, 170, 170);
    border: none;
    font-size: 18px;
    -moz-box-shadow: inset 0 0 1px #050505;
    -webkit-box-shadow: inset 0 0 1px #050505;
    box-shadow: inset 0 0 1px #050505;
}
.pausedGame{
    background: rgb(170, 170, 170) !important;
    color: rgb(170, 170, 170) !important;
    text-shadow: none !important;
}
.box.val0 {
    background: rgb(240, 240, 240);
}
.box.val1 {
    color: rgb(133, 129, 51);
    background: rgba(224, 210, 210, 0.24);
}
.box.val2 {
    color: rgb(165, 137, 48);
    background: rgb(218, 190, 190);
    text-shadow: 0px 1px white;
}
.box.val3 {
    color: white;
    background: rgb(202, 85, 85);
}
.box.val4 {
    color: rgb(255, 255, 255);
    background: rgb(134, 0, 0);
    text-shadow: 0px 1px white;
}
.box.mined {
    background: url('../img/mine.jpeg');
    background-size: 100%;
}
.box.blast {
    background: url('../img/exposion.gif');
    background-size: 100%;
}
.shadow {
    background: rgb(235, 226, 226);
    display: inline-block;
    margin-left: 7%;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
}
.shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
.title {
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: #D1D1D1;
    text-shadow: 1px 1px 0 #333, 2px 2px 0 #333, 3px 3px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333, 6px 6px 0 #333, 7px 7px 0 #333, 8px 8px 0 #333, 9px 9px 0 #333, 10px 10px 0 #333, 11px 11px 0 #333;
}
.dashboard {
    background: #000000;
    padding: 5px;
    border-radius: 10px;
}
.scoreFont {
    font-size: 28px;
}
.score {
    text-align: center;
    font-family: monospace;
    color: rgb(245, 239, 232);
    text-shadow: 1px 1px rgb(7, 0, 0);
}
.scoreText {
    margin-left: 50px;
}
.scoreValue {
    display: inline;
}

#progress{
    margin: 0 auto;
    display: table;
    padding: 20px;
}

@media only screen and (min-width: 767px) {
    #grid{
        min-width: 477px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-image: url(../img/background.jpg);
    }
    .dashboard {
        background: rgba(22, 3, 3, 0.69);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px gray;
        float: right;
    }
    .title {
        font-size: 50px;
    }
    .scoreFont {
        font-size: 38px;
    }
    #grid{
        min-width: 680px;
    }
}

button:focus {outline:0 !important;}

#timer.is-countdown{background-color: black; border: black;margin-top: 20px;display: table; margin: 0 auto;}
#timer span { display: block; float: left; width: 34px; height: 50px; 
    background: url(../img/countdownGlowing.gif) no-repeat 0px 0px; } 
#timer span.image0 { background-position: -0px 0px; } 
#timer span.image1 { background-position: -34px 0px; } 
#timer span.image2 { background-position: -68px 0px; } 
#timer span.image3 { background-position: -102px 0px; } 
#timer span.image4 { background-position: -136px 0px; } 
#timer span.image5 { background-position: -170px 0px; } 
#timer span.image6 { background-position: -204px 0px; } 
#timer span.image7 { background-position: -238px 0px; } 
#timer span.image8 { background-position: -272px 0px; } 
#timer span.image9 { background-position: -306px 0px; } 
#timer span.imageDay { background-position: -340px 0px; } 
#timer span.imageSep { background-position: -374px 0px; } 
#timer span.imageSpace { background-position: -408px 0px; } 

#sizeControl{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.small {
    width: 20px;
    height: 20px;
}
.medium {
    width: 35px;
    height: 35px;
}
.large {
    width: 50px;
    height: 50px;
}
.sizeCircle {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}
.sizeCircle:hover{
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}

.disabled{
  pointer-events: none;
}

.messi-content{
    font-size: 20px;
}

#controls {
    display: table;
    padding-top: 21px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.controlButton{
    width: 57px;
    height: 56px;
    float: left;
    cursor: pointer;
    margin-left: 20px;
}

.selectedControlButton,
.controlButton:hover{
    background-color: rgb(170, 170, 170) !important;
    border-radius: 15px;
}

.play{
    background: url(../img/buttons.png) no-repeat -123px 0px;
}

.pause{
    background: url(../img/buttons.png) no-repeat 0px 0px;
}

.restart{
    background: url(../img/buttons.png) no-repeat -182px 0px;
}

